@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./asset//font/font8.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'MyFont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:disabled {
  color: rgb(148, 151, 163) !important;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-77 {
  padding-bottom: 77px;
}

.text-xs {
  font-size: 0.83rem;
}
.text-sm {
  font-size: 0.9rem;
}
.text-sm {
  font-size: 1rem;
}